#nugget
  %h1.title
    Art
%br  

= paginated_section @artists do
  #artists-grid
    - @artists.each do |artist|
      .chunk
        %a{:href => "artists/#{artist.id}"}
          = image_tag artist.image.url, :height => "70px"
          .artist_title
            = artist.name

-#= page_entries_info @artists