#nugget
  %h1.title
    Artists
  %br  

  = paginated_section @artists do
    #artists-grid
      - @artists.each do |artist|
        .chunk
          %a{:href => "artists/#{artist.id}"}
            = image_tag artist.image.url(:small)
            .artist_title
              = artist.name

-#= page_entries_info @artists

