#nugget
  %h1
    Articles
%br
 
- @articles.each do |article|
  .article
    %h1.title
      = article.title
    %h3.created_at
      = article.created_at.strftime("%b %d %Y   ")
    
    .body
      = article.body
