%h1 Articles controller, new action

%p 
  Edit this file in 
  %tt app/views/articles/new.html.erb

= error_messages_for @article

= form_for(@article, :action => url(:articles) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:articles)