#nugget
  %h1 Admin Console to Your Stuff
  %hr 
  
  
  %a{ :href => "/admin/artists" }
    %h2 Artists

  %a{ :href => "/admin/albums" }
    %h2 Albums

  %a{ :href => "/admin/articles" }
    %h2 Articles

  %a{ :href => "/admin/links" }
    %h2 Links

  %a{ :href => "/admin/gallery" }
    %h2 Gallery
    

    
-#= partial 'artists'
-#
-#= partial 'albums'
-#
-#= partial 'articles'
-#
-#= partial 'gallery'
-#
-#= partial 'links'
-#