body {
  font-family:"Lucida Grande","Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 12px;
  background-color: #000;
  color: #000;
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
html {
  height: 100%;
  margin-bottom: 1px;
  background-color: #000;
}
#hd h1, #hd h2 {
  margin-bottom: 6px;                       
  padding-left: 6px;
  color: #ff0000;
  font-size: 32px;
  background-color: #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 0px 0px 0px 10px;  
}
#menu {
	background-color: #ccc;
	padding: 4px;
	margin-left: 28px;
	margin: 6px 0px 12px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 0px 0px 0px 10px;
}   
#menu a {
	background-color: #ccc;
	font-size: 18px;
  color: #000;  
  padding-bottom: 1px;
  padding-right: 1px;
}
#menu a:hover {
  background-color: #fffdcb;
  text-decoration: none;
  padding-bottom: 0px;
  padding-right: 0px;
  border-bottom: 1px solid #ff0000;
  border-right: 1px solid #ff0000;
}
#admin-nug a {
  color: #ff0000;
  margin-left: 90%;
}
hr {
  border: 0px;
  color: #ccc;
  background-color: #cdcdcd;
  height: 1px;
  width: 100%;
  text-align: left;
}
h1 {
  font-size: 28px;
  color: #111;
  background-color: #fff;
  font-weight: 300;
}
h2 {
  font-size: 24px;
  color: #999;
  font-weight: 300;
/*  background-color: #fff;*/
}
h3 {
  color: #4d9b12;
  font-size: 14px;
  text-align: left;
  font-weight: 300;
  padding: 5px;
  margin-top: 5px;
}    
h4 {
  color:#000;
  font-size: 18px;
}
#bd ul {
  margin-left: 3.0em;
}          
#bd form {
  -x-system-font:none;
  background-color:#d3d3d3;
  color:#5A698B;
  font-family:"Lucida Grande","Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size:11px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:24px;
  padding: 6px;
  min-height: 60px;
}
#bd form #title {
  background:transparent no-repeat scroll 0 0;
  color:#ecf8f9;
  font-size:32px;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  height:26px;
  letter-spacing:2px;
  line-height:18px;
  padding-top:10px;
  padding-bottom:5px;
  text-align:center;
  text-transform:uppercase;
  width:330px;
}                    
#bd form .row, #bd form .formRow label{
  clear:both;
  width:335px;
}
#bd form label {
  background:transparent no-repeat scroll 0 0;
  float:left;
  height:31px;
  margin:0 2px 0 0;
  text-align:right;
  width:135px;
}                        
#bd form.delete-btn {
  background:transparent;
}
#nugget {
  background: #ffffcc;                          
  border: 3px solid #f2ec49; 
  padding: 10px;
  margin-bottom: 16px;
}
#nugget p, #nugget h1, #nugget a {
  background: #ffffcc;
  color: #000;  
}   
#nugget div.row {
  font-color:#000;
}                   
#nugget-error {
  background: #fcf0f0;
  border: 1px solid #ff2222;
  padding: 10px;
}
#nugget-error p, #nugget-error h1, #nugget-error a {
  background: #fcf0f0;
}
.side-nugget {
  background-color: #eaf2f5;
  border: 1px solid #fbf2f5;
  padding: 1px;   
}
.side-nugget p {
  background-center: #000;
}                   
.side-nugget h1, .side-nugget h2, .side-nugget h3 {
  text-align: center;
}
p {
  color: #fff;
  background-color: #000;
  line-height: 20px;
  padding: 5px;
}             
.article h2.title {
  margin:auto;
}
.article h3.created_at {
  font-size: 12px;
}
#bd a, #ft a {
  color: #4d9b12;
  background-color: transparent;
  text-decoration: none;
}
#bd a:hover, #ft a:hover {
  color: #4d9b12;
  background-color: yellow;
  text-decoration: underline;
}
#ft {
  clear: both;
  font-size: 12px;
  background-color: #000;
  margin-bottom: 10px;
}
.right {
  float: right;
  font-size: 100%;
  color: #999;
  background-color: #000;
}
.left {
  float: left;
  font-size: 100%;
  color: #999;
  background-color: #000;
}
.error, .notice {
  margin: 0px 5px 0px 0px;
  padding: 5px;
  text-align: left;
}
.error ul, .notice ul {
  margin-left: 15px;
}
.error {
  color: #c55;
}             
.notice {
  color: #4d9b12;
}                        
table.list td {
  padding: 6px;
  color: #fff;
}
.album {
  color: #000;
}