
= paginated_section @articles do
  - @articles.each do |article|
    .article
      %h2.title
        = article.title
      %h3.created_at
        = article.created_at.strftime("%b %d %Y   ")
        / = image_tag "/images/date.gif"
      
      .body
        = RedCloth.new(article.body).to_html
         
         