#nugget
  %h1 You Are Here
  %p
    Yet another website churned out by 
    %a{:href=>"http://deepthawtz.net"}deepthawtz.
    Not much of a big deal now, but oh it will be.

- @articles.each do |article|
  .article
    %h2.title
      = article.title
    %h3.created_at
      = article.created_at.strftime("%b %d %Y   ")
    %hr
    %br
    %p.body
      = RedCloth.new(article.body).to_html
         