!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title Fall Reign Records
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    = css_include_tag :reset_fonts_grids, :admin, "jquery-ui-1.7.1.custom"
    = js_include_tag :jquery, "jquery-ui-1.7.1.custom.min", :admin
  
  %body    
    = catch_content :for_layout
