#nugget
  %h1 Links 

  - num = 0
  - @links.each_with_index do |link, index|
    .link
      %h2.title
        %a{ :href => "#{link.url}" }
          == #{index + 1}.
          = link.title 
                                                         
