#nugget  
  / TODO: Search Bar
  - @albums.each do |album|
    %a.album{:href => "/albums/show/#{album.id}"}  
      = image_tag album.image.url(:medium)                                          
   
