%h1 Edit Your Song
%p edit this view in /app/views/audio_files/edit.html.haml

= error_messages_for @audio_file

= form_for(@audio_file, :action => url(:audio_files, @audio_file)) do
  = partial 'form'
  .submit
    = submit "Update"
