%h2 Artist and Song Title
%hr
%h3
  = @audio_file.artist.name
  |
  = @audio_file.title
%p                 
  Use Mp3 player to preview song
%br
 
= link_to 'Edit',  url(:edit_audio_file,  @audio_file)
